.elements__like {
  background-image: url('../../../images/like.svg');
  width: 21px;
  height: 18px;
  border: none;
  background-color: transparent;
  margin: 31px 20px auto auto;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}