.popup__field {
  height: 57px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
  overflow-y: scroll;
}

.popup__field:focus {
  outline-color: rgb(0, 0, 0, 0.2);
}